In [ ]:
'''02_setup_mysql_for_replication'''

'''--------------------------------------------------------------------------------------'''

'''Create binary log''':

'''Masuk ke dalam mysql dengan perintah berikut:'''
docker exec -it mysql_source mysql -uroot -p
'''Isikan password = password'''

'''--------------------------------------------------------------------------------------'''

'''Check apakah binary log sudah aktif'''
show binary logs;

'''Jika binary log belum aktif, berikut langkah-langkahnya:'''

'''Masuk ke dalam mysql bash dengan perintah berikut:'''
docker exec -it mysql_source bash

'''Install vim, dengan perintah berikut:'''
microdnf install -y vim

'''edit file my.cnf, dengan perintah berikut:'''
vim etc/my.cnf

'''cari baris berikut: # log_bin'''
'''tambahkan baris berikut:'''

server-id       = 100001 ## kepala 1 untuk mysql
log_bin         = mysql-bin
binlog_format   = ROW
binlog_row_image= FULL
expire_logs_days= 30

'''--------------------------------------------------------------------------------------'''

'''catatan:'''
'''server-id: berisi mengenai server id, harus unik untuk setiap server dan replication client
di MySQL cluster, jika server-id sama, maka akan terjadi error'''

'''log_bin: berisi nama file binary log, dari setiap sequence akan ditambahkan 1 angka'''

'''binlog_format: berisi format dari binary log, ada 3 format yaitu STATEMENT, ROW, MIXED'''

'''binlog_row_image: berisi mengenai detail dari row yang akan di log, ada 2 yaitu FULL dan MINIMAL'''

'''expire_logs_days: berisi mengenai berapa hari binary log akan dihapus'''

'''--------------------------------------------------------------------------------------'''

'''simpan file my.cnf, dengan perintah berikut:'''
!:wq

'''keluar terlebih dahulu dari mysql bash, dengan perintah berikut:'''
exit

'''restart mysql container, dengan perintah berikut:'''
docker restart mysql_source

'''jika sudah, masuk lagi ke mysql, dengan perintah berikut:'''
docker exec -it mysql_source mysql -uroot -p

'''check apakah binary log sudah aktif, dengan perintah berikut:'''
show binary logs;

'''akan muncul seperti berikut, itu artinya binary log sudah aktif'''
mysql> show binary logs;
+------------------+-----------+-----------+
| Log_name         | File_size | Encrypted |
+------------------+-----------+-----------+
| mysql-bin.000001 |       157 | No        |
+------------------+-----------+-----------+
1 row in set (0.00 sec)

'''--------------------------------------------------------------------------------------'''

'''sekarang kita setting MySQL untuk replication, dengan perintah berikut:'''
'''masuk ke dalam mysql server, dengan perintah berikut:'''
docker exec -it mysql_source mysql -uroot -p

'''buat database untuk replication, dengan perintah berikut:'''
create database replication;

'''buat table dengan nama 'user', dengan perintah berikut:'''
use replication;

create table user (
    user_id int primary key auto_increment,
    first_name varchar(50),
    last_name varchar(50),
    city varchar(50),
    state varchar(50),
    pincode varchar(10)
);

'''insert data ke dalam table user, dengan perintah berikut:'''
insert into user (first_name, last_name, city, state, pincode) values ('John', 'Doe', 'New York', 'NY', '10001');

'''check data yang sudah di insert, dengan perintah berikut:'''
select * from user;

'''akan muncul seperti berikut:'''
mysql> select * from user;
+---------+------------+-----------+----------+-------+---------+
| user_id | first_name | last_name | city     | state | pincode |
+---------+------------+-----------+----------+-------+---------+
|       1 | John       | Doe       | New York | NY    | 10001   |
+---------+------------+-----------+----------+-------+---------+
1 row in set (0.00 sec)

'''--------------------------------------------------------------------------------------'''